<!DOCTYPE html>
<html>

<head>
    <title>Albion Online Crafting Calculator</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script type="module" src="javascripts/globals/firebaseScripts.js" async></script>
    <script type="module" src="javascripts/globals/preload.js" async></script>
    <script type="module" src="javascripts/page-dynamic.js" defer></script>
    <script type="module" src="javascripts/main.js" defer></script>
</head>

<body>
    <div id="sidebars">
        <aside class="sidebar crafting-fees">
            <% Object.entries(stationNames).forEach(function(station){ %>
                <div id=<%= station[0] %>>
                    <div>
                        <%= station[1] %>
                    </div>
                    <input type="number" value="400">
                </div>
            <% }) %>
        </aside>
        <aside class="sidebar crafting-bonuses">

        </aside>
        <aside class="sidebar legend">
            To Be Added
        </aside>
    </div>
    <div id="sidebar-buttons">
        <button id="openbtn" class="crafting-fees">Set Crafting Fees</button>
        <button id="openbtn" class="crafting-bonuses">Set Daily Production Bonus</button>
        <button id="openbtn" class="legend">Legend</button>
    </div>

    <div id="main">
        <h1>Item Crafting Cost Calculator</h1>
        <section id="user-inputs">
            <div>
                <input id="item-name" type="text" placeholder="Item name here">
                <ul id="item-name-autocomplete"></ul>
            </div>
            <select id="city-selector">
                <option disabled selected>Select City</option>
                <option>Caerleon</option>
                <option>Bridgewatch</option>
                <option>Fort Sterling</option>
                <option>Lymhurst</option>
                <option>Martlock</option>
                <option>Thetford</option>
                <option>Brecilien</option>
            </select>
            <span>
                Use new patch prices:
                <input id="date-selector" type="checkbox" checked>
            </span>
            <button id="load-price-button">Click to load prices</button>
        </section>
        <section id="load-icon" style="display:none">
            Loading
        </section>
        <svg height="0" width="0" style="position:absolute">
            <defs>
                <marker id="arrow" markerWidth="5" markerHeight="5" refX="2.5" refY="2.5" orient="auto">
                    <path d="M 0 0 L 5 2.5 L 0 5 Z"></path>
                </marker>
            </defs>
        </svg>
        <div id="recipes-area">
        </div>
    </div>
    
</body>

</html>